<!-- MAIN -->
<div class="main">

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="panel panel-profile">
                <app-loading *ngIf="busy"></app-loading>
                <div class="clearfix" *ngIf="!busy">
                    <!-- LEFT COLUMN -->
                    <div class="profile-left">

                        <!-- PROFILE HEADER -->
                        <div class="profile-header">
                            <div class="overlay"></div>
                            <div class="profile-main">
                                <img src="assets/img/user-medium.png" class="img-circle" alt="Avatar">
                                <h3 class="name">{{ user?.firstName }} {{ user?.lastName }}</h3>
                                <span
                                    class="online-status" [ngClass]="{'status-disable': user?.status == 0, 'status-available': user?.status == 1}">{{ user?.status == 1 ? "Ativo" : "Inativo" }}</span>
                            </div>
                            <div class="profile-stat">
                                <div class="row">
                                    <div class="col-md-4 stat-item">
                                        45 <span>Projetos</span>
                                    </div>
                                    <div class="col-md-4 stat-item">
                                        15 <span>Conquistas</span>
                                    </div>
                                    <div class="col-md-4 stat-item">
                                        2174 <span>Tarefas Concluidas</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PROFILE HEADER -->

                        <!-- PROFILE DETAIL -->
                        <div class="profile-detail">
                            <div class="profile-info">
                                <h4 class="heading">Informações Básicas</h4>
                                <ul class="list-unstyled list-justify">
                                    <li>Telefone <span>{{ user?.phone | mask: '(00) 00000-0000' }}</span></li>
                                    <li>E-mail <span>{{ user?.email }}</span></li>
                                    <li>CPF <span>{{ user?.document | mask: '000.000.000-00' }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="profile-info">
                                <h4 class="heading">Social</h4>
                                <ul class="list-inline social-icons">
                                    <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="google-plus-bg"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="github-bg"><i class="fa fa-github"></i></a></li>
                                </ul>
                            </div>
                            <div class="profile-info">
                                <h4 class="heading">Sobre</h4>
                                <p>dfasdfdasfjl djslkfjlasjflldfjasdhf asdfdasfdas fadsf adsf asdf</p>
                            </div>
                            <!-- <div class="text-center"><a [routerLink]="['/users/edit/', user?.id]" class="btn btn-primary">Editar Perfil</a></div> -->
                        </div>
                        <!-- END PROFILE DETAIL -->
                    </div>
                    <!-- END LEFT COLUMN -->

                    <!-- RIGHT COLUMN -->
                    <div class="profile-right">
                        <h4 class="heading">Conquistas do(a) {{ user?.firstName }}</h4>

                        <!-- AWARDS -->
                        <div class="awards">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="award-item">
                                        <div class="hexagon">
                                            <span class="lnr lnr-sun award-icon"></span>
                                        </div>
                                        <span>Criador de Idéias</span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="award-item">
                                        <div class="hexagon">
                                            <span class="lnr lnr-clock award-icon"></span>
                                        </div>
                                        <span>Cumpre Prazos</span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="award-item">
                                        <div class="hexagon">
                                            <span class="lnr lnr-magic-wand award-icon"></span>
                                        </div>
                                        <span>Resolve Problemas</span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="award-item">
                                        <div class="hexagon">
                                            <span class="lnr lnr-heart award-icon"></span>
                                        </div>
                                        <span>Dev</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center"><a href="#" class="btn btn-default">Ver todas as conquistas</a></div>
                        </div>
                        <!-- END AWARDS -->

                        <!-- TABBED CONTENT -->
                        <div class="custom-tabs-line tabs-line-bottom left-aligned">
                            <ul class="nav" role="tablist">
                                <li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">Atividades Recentes</a></li>
                                <li><a href="#tab-bottom-left2" role="tab" data-toggle="tab">Projetos</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-bottom-left1">
                                <ul class="list-unstyled activity-timeline">
                                    <li>
                                        <i class="fa fa-comment activity-icon"></i>
                                        <p>Comentário <a href="#">Mockado</a> <span class="timestamp">2
                                                minutos atrás</span></p>
                                    </li>
                                    <li>
                                        <i class="fa fa-cloud-upload activity-icon"></i>
                                        <p>Arquivo mockado <a href="#">fake.docx</a> para <a href="#">Novo
                                                Mock</a> <span class="timestamp">7 horas atrás</span></p>
                                    </li>
                                    <!-- <li>
                                        <i class="fa fa-plus activity-icon"></i>
                                        <p>Added <a href="#">Martin</a> and <a href="#">3 others colleagues</a> to
                                            project repository <span class="timestamp">Yesterday</span></p>
                                    </li>
                                    <li>
                                        <i class="fa fa-check activity-icon"></i>
                                        <p>Finished 80% of all <a href="#">assigned tasks</a> <span class="timestamp">1
                                                day ago</span></p>
                                    </li> -->
                                </ul>
                                <div class="margin-top-30 text-center"><a href="#" class="btn btn-default">Ver todas as atividades</a></div>
                            </div>
                            <div class="tab-pane fade" id="tab-bottom-left2">
                                <div class="table-responsive">
                                    <table class="table project-table">
                                        <thead>
                                            <tr>
                                                <th>Título</th>
                                                <th>Responsável</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="#">Mock</a></td>
                                                <td><img src="assets/img/user2.png" alt="Avatar"
                                                        class="avatar img-circle"> <a href="#">Michael</a></td>
                                                <td><span class="label label-success">Ativo</span></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Mock</a></td>
                                                <td><img src="assets/img/user1.png" alt="Avatar"
                                                        class="avatar img-circle"> <a href="#">Antonius</a></td>
                                                <td><span class="label label-warning">Pendente</span></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Mock</a></td>
                                                <td><img src="assets/img/user1.png" alt="Avatar"
                                                        class="avatar img-circle"> <a href="#">Antonius</a></td>
                                                <td><span class="label label-success">Ativo</span></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Mock</a></td>
                                                <td><img src="assets/img/user2.png" alt="Avatar"
                                                        class="avatar img-circle"> <a href="#">Michael</a></td>
                                                <td><span class="label label-success">Ativo</span></td>
                                            </tr>
                                            <!-- <tr>
                                                <td><a href="#">Project 123GO</a></td>
                                                <td><img src="assets/img/user1.png" alt="Avatar"
                                                        class="avatar img-circle" /> <a href="#">Antonius</a></td>
                                                <td><span class="label label-default">CLOSED</span></td>
                                            </tr>
                                            <tr>
                                                <td><a href="#">Redesign Landing Page</a></td>
                                                <td><img src="assets/img/user5.png" alt="Avatar"
                                                        class="avatar img-circle" /> <a href="#">Jason</a></td>
                                                <td><span class="label label-default">CLOSED</span></td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END TABBED CONTENT -->
                    </div>
                    <!-- END RIGHT COLUMN -->
                </div>
            </div>

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->