<div class="main">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-left">
                    <h3>Ambiente Rensoftware</h3>
                    <p><small><a [routerLink]="['/']">Início</a> > Projetos > Novo</small></p>
                </div>
                <div class="col-md-6 text-right">
                    <a [routerLink]="['/projects']" class="btn btn-primary btn-new"><i class="fa fa-chevron-left"></i>
                        Voltar para
                        Lista</a>
                </div>
            </div>
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3>Novo Projeto</h3>
                </div>
                <div class="panel-body">
                    <app-loading *ngIf="busy"></app-loading>

                    <form [formGroup]="form" *ngIf="!busy">
                        <div class="col-md-12">
                            <div class="form-group col-md-12 margin-bottom-10">
                                <label for="FirstName">Título</label>
                                <input type="text"
                                    [ngClass]="{'uk-form-danger': (!form.controls.firstName.valid && !form.controls.firstName.pristine)}"
                                    id="FirstName" class="form-control" formControlName="firstName"
                                    placeholder="Título...">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="Description">Descrição</label>
                                <textarea class="form-control" formControlName="Description" placeholder="Descrição"
                                    [ngClass]="{'uk-form-danger': (!form.controls.description.valid && !form.controls.description.pristine)}"></textarea>
                            </div>
                        </div>
                        <div class="form-group text-right col-md-12">
                            <button [disabled]="form.invalid" (click)="submit()"
                                class="btn btn-success">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>